.footer {
    width: clamp(688px, 95vw, 1360px);
    margin: 100px auto 40px;
    border-radius: 40px;
    padding: 100px;
    background: var(--background-container);
    .container {
        display: flex;
        gap: 80px;
    }
    .footer__title {
        max-width: 865px;
        font-weight: 600;
        font-size: 60px;
        font-family: var(--font-family);
        line-height: 125%;
        color: var(--text-inverse);
        span {
            font-style: italic;
            color: var(--text-accent);
        }
    }
    .footer__social {
        margin-top: 40px;
        display: flex;
        gap: 12px;
    }
    .footer__social-icon {
        border: 1px solid var(--border-primary);
        border-radius: 100px;
        width: 60px;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .footer__contact-title {
        font-weight: 600;
        font-size: 24px;
        font-family: var(--font-family);
        line-height: 125%;
        color: var(--text-inverse);
    }
    .footer__contact-links {
        margin-top: 40px;
        li {
            margin-bottom: 16px;
            font-weight: 600;
            font-size: 16px;
            font-family: var(--font-family);
            line-height: 150%;
            color: var(--text-inverse);
            a {
                font-weight: 600;
                font-size: 16px;
                font-family: var(--font-family);
                line-height: 150%;
                color: var(--text-inverse);
            }
            img {
                margin-right: 8px;
            }
        }
    }
}
@media (max-width: 1415px) {
    .footer {
       .container {
            flex-direction: column;
            gap: 100px;
        }
    }
}
@media (max-width: 850px) {
    .footer {
        padding: 100px 60px;
        width: clamp(688px, 95vw, 1360px);
    }
}
@media (max-width: 640px) {
    .footer {
        max-width: clamp(348px, 95vw, 688px);
        padding: 60px 16px;
       .container {
            gap: 40px;
        }
        .footer__title {
            font-size: 32px;
        }
    }
}